


<div class="container text-center">
  
 <input #cityInput type="text" class="form-control mt-3"  placeholder="Enter city name...">
  <button class="btn btn-primary mt-2" (click)="fetchWeather(cityInput.value)">Get Weather</button>



  <div *ngIf="weatherData" class="card mt-4 mx-auto shadow-lg" style="max-width: 400px;">
    <div class="card-body text-center">
      <h3 class="card-title">{{ weatherData.name }}</h3>
      <h4 class="card-subtitle text-muted">{{ weatherData.sys?.country }}</h4>

      <img
        *ngIf="weatherData.weather?.length"
        [src]="'http://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'"
        class="weather-icon mt-3"
        alt="Weather Icon"
      />

      <h2 *ngIf="weatherData.main?.temp" class="mt-2">{{ weatherData.main?.temp }}°C</h2>
      <p class="lead">{{ weatherData.weather[0]?.description | titlecase }}</p>

      <hr />
      <p>Humidity: {{ weatherData.main?.humidity }}%</p>
      <p>Wind Speed: {{ weatherData.wind?.speed }} m/s</p>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>
